@import '404.css';

/* NEWLY INTRODUCED BUTTON BTN-PANTONE and BTN-OUTLINE-PANTONE!!! */

.btn-pantone {
  color: #fff;
  background-color: #FF6F61;
  border-color: #fff; }
.btn-pantone:hover {
  color: #FF6F61;
  background-color: #fff;
  border-color: #FF6F61; }
.btn-pantone:focus, .btn-pantone.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5); }
.btn-pantone.disabled, .btn-pantone:disabled {
  color: #fff;
  background-color: #FF6F61;
  border-color: #FF6F61; }
.btn-pantone:not(:disabled):not(.disabled):active, .btn-pantone:not(:disabled):not(.disabled).active,
.show > .btn-dpantone.dropdown-toggle {
  color: #fff;
  background-color: #FF6F61;
  border-color: #FF6F61; }
.btn-pantone:not(:disabled):not(.disabled):active:focus, .btn-pantone:not(:disabled):not(.disabled).active:focus,
.show > .btn-pantone.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5); }

.btn-outline-pantone {
  color: #FF6F61;
  border-color: #FF6F61; }
.btn-outline-pantone:hover {
  color: #fff;
  background-color: #FF6F61;
  border-color: #FF6F61; }
.btn-outline-pantone:focus, .btn-outline-pantone.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5); }
.btn-outline-pantone.disabled, .btn-outline-pantone:disabled {
  color: #FF6F61;
  background-color: transparent; }
.btn-outline-pantone:not(:disabled):not(.disabled):active, .btn-outline-pantone:not(:disabled):not(.disabled).active,
.show > .btn-outline-pantone.dropdown-toggle {
  color: #fff;
  background-color: #FF6F61;
  border-color: #FF6F61; }
.btn-outline-pantone:not(:disabled):not(.disabled):active:focus, .btn-outline-pantone:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-pantone.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5); }

html, body {
  font-family: 'Lato', sans-serif;
  color: white;
  height: 100%; /* CHECK AGAIN!!!*/
  margin: 0;
  padding: 0;
}

.jumbotron {
    border-radius: 0;
    position: relative;
    padding-bottom: 0;
}

#main {
  max-width: 100%;
  min-height: calc(100% - 30px);
  background-image: url("/assets/media/NYC2.jpg");
  background-size: cover;
  background-repeat: repeat;
  display: block;
  margin-bottom: auto;
  text-align: center;
}

#blog {
  max-width: 100%;
  min-height: 800px;
  background-image: url("https://cdn.glitch.com/89557d53-bdf9-42eb-adfc-ed86e46978c4%2Frobert-bye-319816-unsplash%20(1).jpg?1545734215201");
  background-size: cover;
  background-position: 0% 15%;
  display: block;
  background-repeat: no-repeat;
  color: white;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
}

#navmain {
    position: fixed;
    z-index: 5;
}


#navlink_1, #navlink_2 {
  color: white;
  font-size: 0.75em;

}
#navlink_1:hover, #navlink_2:hover {
  color: #FF6F61;
}

.bg-white {
  background-color: white;
  /* display: cover; */
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("/assets/media/burgericon.png");
}

@media (min-width: 576px) {
  .nav-item a {
    padding-top: 28px;
  }
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}


.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:active {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.nav-item .dropdown-item img {
  color: #FF6F61 !important;
  padding-right: 10px;
}

.dropdown-menu a {
  width: 50%;
  padding-right: 10px;
  justify-content: flex-end;
}

#efsEasy {
  background-image: url('/assets/media/easy.jpg');
  height: 100%;
  width: 100%;
  background-size: 100%;
  padding: 10px;
}

#efsFast {
  background-image: url('/assets/media/fast.jpg');
  background-size: cover;
}
#efsSuccessful {
  background-image: url('/assets/media/successful.jpg');
  background-size: 100%;
}

#EasyFastSuccessful {
  display: none;
}

#headline {
  text-align: center;
  text-shadow: 1px 1px black;
  margin: 0;
  padding: 0;
}

#headline .xss-screen {
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  font-weight: bold;
  display: block;
}

#headline .xs-screen, #headline .sm-screen, #headline .md-screen, #headline .lg-screen, #headline .xl-screen,
#headline .xxl-screen, #headline .xxxl-screen, #headline .xxxxl-screen {
  word-spacing: 0.25em;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: none;
}

#subheads {
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px black;
}

#subheads .xs-screen {
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
  font-weight: bold;
  display: block;
}

#subheads .xl-screen {
  word-spacing: 0.25em;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: none;
}

#subheadslandscape .small-landscape, #subheadslandscape .large-landscape {
  text-align: center;
  word-spacing: 0.25em;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: none;
}

#gotoresume {
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
  font-weight: bold;
  color: white;
  margin: 2em 0 0 0;
  padding: 0;
}

#gotoresume-button-sm {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#gotoresume-button-lg {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#gotoresume-text-sm, #gotoresume-text-lg {
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
  font-weight: bold;
  text-align: center;
}

#ragazza {
  filter: grayscale(100%);
  width: 100%;
  max-width: 100%;
  min-height: calc(100% - 30px);
  background-image: url('/assets/media/ragazza.jpg');
  background-size: cover;
  background-repeat: repeat;
  display: none;
  margin-bottom: 0;
  padding-bottom: 0;
  /* background-position: relative; */
  text-align: center;
  color: black;
  font-weight: bold;
}

#ragazzabox {
  filter: grayscale(100%);
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}

#message {
}

#footer {
  background-color: black;
  text-align: center;
  font-size: 10px;
  height: 30px;
}

#footer p {
  padding: 10px 0;
  line-height: 1;
}

#footer a {
  color: white;
  line-height: 1;
}

/* FOR SOME REASON THIS STYLE IS NOT APPLYING AT ALL*/
#usaflag {
  height: 8px;
  width: auto;
  border: 1px solid white;
  margin: 10px 0;
}

@media (orientation: portrait) {
  #message {
    margin: 13em auto auto auto;
    padding: 0;
  }
}

@media (orientation: landscape) {
  #main {
    width: 100%;
    background-image: url("/assets/media/NYC1.jpg");
    background-position: 0% 29%;
  }
  #headline {
    margin: 20% 0 0 0;
    padding: 0;
  }
  #subheads {
    display: none;
  }
  #subheadslandscape .small-landscape {
    display: block;
  }
  #gotoresume {

   /* padding: auto; */
  text-align: center;
}

@media (min-width: 360px) and (orientation: portrait) {
  #message {
    margin: 15em auto auto auto;
    padding: 0;
  }
}

@media (min-width: 375px) {
  #headline .xxs-screen {
    display: none;
  }
  #headline .xs-screen {
    display: block;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  #message {margin: 20em auto auto auto;
  }
}

@media (min-width: 414px) and (orientation: portrait) {
  #message {margin: 20em auto auto auto;
  }
}

@media (min-width: 420px) {

  #headline .xs-screen {
    display: none;
  }
  #headline .sm-screen {
    display: block;
  }
}

@media (min-width: 500px) {
  #headline .sm-screen {
    display: none;
  }
  #headline .md-screen {
    display: block;
  }
}

@media (min-width: 600px) {

  #headline .md-screen {
    display: none;
  }
  #headline .lg-screen {
    display: block;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  #message {margin: 30em auto auto auto;
  }
}

@media (min-width: 812px) {
  #headline .lg-screen {
    display: none;
  }
  #headline .xl-screen {
    display: block;
  }
  #subheads .xs-screen {
    display: none;
  }
  #subheads .xl-screen {
    display: block;
  }
}

@media (min-width: 1024px) {

  .navbar-brand img {
    width: 75px;
    height: 75px;
  }
  #headline .xl-screen {
    display: none;
  }
  #headline .xxl-screen {
    display: block;
  }
  #navlink_1, #navlink_2 {
    font-size: 1em;
  }
  .navbar-expand-sm .nav-item a {
    padding-top: 36px;
  }

  #gotoresume-button-sm {
    display: none;
  }
  #gotoresume-button-lg {
    display: block;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  #subheadslandscape .small-landscape {
    display: none;
  }
  #subheadslandscape .large-landscape {
    display: block;
  }
  #gotoresume {
    margin-top: 3em;
    text-align: center;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  #message {margin: 40em auto auto auto;
  }
}

@media (min-width: 1240px) {
  #headline .xxl-screen {
    display: none;
  }
  #headline .xxxl-screen {
    display: block;
  }
}

@media (min-width: 1350px) {
  #main {
    background-image: url("/assets/media/NYC1.jpg");
    height: 100%;
  }
  .navbar-brand img {
    width: 100px;
    height: 100px;
  }
  #headline .xxxl-screen {
    display: none;
  }
  #headline .xxxxl-screen {
    display: block;
  }
  #navlink_1, #navlink_2 {
    font-size: 1.25em;
  }
  .navbar-expand-sm .nav-item a {
    padding-top: 43px;
  }
  #gotoresume-button-sm {
    display: none;
  }
  #gotoresume-button-lg {
    display: block;
  }

  #ragazza {
    display: inline-block;
  }
}


.ghost {
  visibility: hidden;
}


#blogheadline {
  padding-top: 400px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.efs {
  text-align: center;
  letter-spacing: 0.1rem;
  word-spacing: 0.25rem;
  color: white;
  margin: 25px 0;
}


.efs img {
  filter: invert(100%);
  line-height: 1;
}

.efs h4 {
  letter-spacing: 0.25em;
  font-weight: bold;
  line-height: 1;
}

.efs h6 {
  letter-spacing:0.25em;
  word-spacing: 0.25em;
  font-weight: bold;
  line-height: 1;
}

.efs p {
  line-height: 1;
}

.blogbox {
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
  color: black;
}

.latestblogbox {
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
  color: black;
  background-color: white;
}

.blogbox h6, .latestblogbox h6 {
  color: #FF6F61;
  text-align: right;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

.nayacaprint {
  text-align: left;
}
