/* Pantone Color set applied to buttons */
  #signupbutton, #btnskills, #btnabout, #btncontact, #btnapplication, #btnexperience, #btneducation  {
    background-color: #fff;
    color: #FF6F61;
    border-color: #FF6F61;
    }

  #signupbutton:hover, #signupbutton:focus, #signupbutton:active, #signupbutton.active, .open>.dropdown-toggle#signupbutton,
  #btnabout:hover, #btnabout:focus, #btnabout:active, #btnabout.active, .open>.dropdown-toggle#btnabout,
  #btnskills:hover, #btnskills:focus, #btnskills:active, #btnskills.active, .open>.dropdown-toggle#btnskills,
  #btncontact:hover, #btncontact:focus, #btncontact:active, #btncontact.active, .open>.dropdown-toggle#btncontact,
  #btnapplication:hover, #btnapplication:focus, #btnapplication:active, #btnapplication.active, .open>.dropdown-toggle#btnapplication,
  #btnexperience:hover, #btnexperience:focus, #btnexperience:active, #btnexperience.active, .open>.dropdown-toggle#btnexperience,
  #btneducation:hover, #btneducation:focus, #btneducation:active, #btneducation.active, .open>.dropdown-toggle#btneducation {
    background-color: #FF6F61;
    color: #fff;
    border-color: #FF6F61;
    box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5);
    }
/* header content */
#resumeheader {
      background: linear-gradient(90deg, #FF6F61, #fff);

    }
.container-fluid {
      margin: 0;
      height: 70px;
      position: fixed;
      background: white;
      z-index: 10;
    }

#brandcol {
  margin-left: 0;
      }
#brandimage {
        width: 50px;
        height: 50px;
      }

#progress {
    padding: 0;
    margin-top: 0px;
    height: 10px;
    font-size: 0.5em;
    font-weight: bold;
  }

#progressive {
    width: 0%;
    color: white;
    background-color: #292A2D;

  }

#SignUpCol {
  padding-left: 20px;
  padding-right: 0;
  margin-top: 2px;
}

#signupbutton {
  font-size: 0.6rem;
  margin-top: 17px;
  }

/* Input user form area */

#resumebuilder {
  padding-top: 70px;
}

.col-md-4 {
  padding: 2em;
}

/* Resume preview area */

#resumepage {
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
  box-shadow: 0 0 0.1cm;
  padding: 5em;
  min-height: 500px;
  background: white;
}

.col-md-4 h6 {
  font-weight: bold;
}

.hr {
  border-color: black;
}

.signupResume {
  text-align: left;
  margin-right: 0;
  padding-right: 0;
}

.pdf-reset {
  text-align: right;
  margin-left: 0;
  padding-left: 0;
}

#signupExplanation {
  font-weight: normal;
  font-size: 12px;
  }

#resumepage h4 {
  font-size: 1.25em;
  color: #FF6F61;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

#resumepage h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#experience_headline, #education_headline {
  text-align: center;
  color: #FF6F61;
  line-height: 1.5;
}

#study_s1, #study_s2, #study_s3, #position1, #position2, #position3 {
  color: #FF6F61;
}

/* styling placeholder: */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0.75em;
  text-align: left;
  color: black;
  font-weight: bold;
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.75em;
  text-align: left;
  color: black;
  font-weight: normal;
  font-weight: bold;
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.75em;
  text-align: left;
  color: black;
  font-weight: normal;
  font-weight: bold;
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.75em;
  text-align: left;
  color: black;
  font-weight: normal;
  font-weight: bold;
  color: grey;
}

.inliner {
  display: inline-flex;
}

@media print {
	body {
    visibility: hidden;
    }
    #resumepage {
    visibility: visible;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    }
}
