@import '404.css';

/* NEWLY INTRODUCED BUTTON BTN-PANTONE and BTN-OUTLINE-PANTONE!!! */

.btn-pantone {
  color: #fff;
  background-color: #FF6F61;
  border-color: #fff; }
.btn-pantone:hover {
  color: #FF6F61;
  background-color: #fff;
  border-color: #FF6F61; }
.btn-pantone:focus, .btn-pantone.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5); }
.btn-pantone.disabled, .btn-pantone:disabled {
  color: #fff;
  background-color: #FF6F61;
  border-color: #FF6F61; }
.btn-pantone:not(:disabled):not(.disabled):active, .btn-pantone:not(:disabled):not(.disabled).active,
.show > .btn-dpantone.dropdown-toggle {
  color: #fff;
  background-color: #FF6F61;
  border-color: #FF6F61; }
.btn-pantone:not(:disabled):not(.disabled):active:focus, .btn-pantone:not(:disabled):not(.disabled).active:focus,
.show > .btn-pantone.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5); }



.btn-outline-pantone {
  color: #FF6F61;
  border-color: #FF6F61; }
.btn-outline-pantone:hover {
  color: #fff;
  background-color: #FF6F61;
  border-color: #FF6F61; }
.btn-outline-pantone:focus, .btn-outline-pantone.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5); }
.btn-outline-pantone.disabled, .btn-outline-pantone:disabled {
  color: #FF6F61;
  background-color: transparent; }
.btn-outline-pantone:not(:disabled):not(.disabled):active, .btn-outline-pantone:not(:disabled):not(.disabled).active,
.show > .btn-outline-pantone.dropdown-toggle {
  color: #fff;
  background-color: #FF6F61;
  border-color: #FF6F61; }
.btn-outline-pantone:not(:disabled):not(.disabled):active:focus, .btn-outline-pantone:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-pantone.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5); }

.bg-pantone {
    background-color: #FF6F61 !important;
  }

  #brandimage {
    width: 100px;
    height: 100px;
  }
#SignUpCol {
  text-align: right;
}

#SignUpButton {
  margin-top: 57px;
  }

.container-fluid {
  padding: 10px;
  margin: 0;
  height: 120px;
  position: fixed;
  background: white;
  z-index: 10;
}

#progressive {
  width: 0%;
  color: black;
}

#progress {
  height: 20px;
  margin-top: 66px;
  padding: 0;
}

#app {
  padding-top: 120px;
}

.form-control {
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    height: 70px;
  }

  #brandimage {
    width: 50px;
    height: 50px;
  }
  #progress {
    height: 10px;
    margin-top: 35px;
    font-size: 0.5em;
  }
  #SignUpButton {
    margin-top: 15px;
    margin-left: -11px;
  }
  #app {
    padding-top: 70px;
  }
}


body {
  font-family: 'Lato', sans-serif;
  color: black; // different from main.css
  opacity: 1;
  font-weight: bold;
}

h7 {
  font-size: 16px;
  font-weight: bold;
}

.jumbotron {
    border-radius: 0 !important;
    margin-bottom: 0;
}

/*
.col-md-8 {
  box-shadow: 0 0 0.1cm;
  padding: 5em;
} */

.col-md-4 {
  padding: 2em;
}

.col-md-4 h6 {
  font-weight: bold;
}

#resumepage {
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
  box-shadow: 0 0 0.1cm;
  padding: 5em;
  min-height: 500px;
  background: white;
}

.signupResume {
  text-align: left;
  margin-right: 0;
  padding-right: 0;
}

.pdf-reset {
  text-align: right;
  margin-left: 0;
  padding-left: 0;
}

#signupExplanation {
  font-weight: normal;
  font-size: 12px;
  }

#resumepage h4 {
  font-size: 1.25em;
  color: #FF6F61;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

#resumepage h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#WHYME {
  font-size: 1.25em;
  color: #FF6F61;
  font-weight: bold;
  text-align: center;
}

#experience_icon, #education_icon {
  text-align: center;
}

/* styling placeholder: */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0.75em;
  text-align: left;
  color: black;
  font-weight: bold;
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.75em;
  text-align: left;
  color: black;
  font-weight: normal;
  font-weight: bold;
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.75em;
  text-align: left;
  color: black;
  font-weight: normal;
  font-weight: bold;
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.75em;
  text-align: left;
  color: black;
  font-weight: normal;
  font-weight: bold;
  color: grey;
}

.inliner {
  display: inline-flex;
}

.pantone-headline {
  color: #FF6F61;
}

#AboutNavLink, #navlink_2, #navlink_3 {
  color: black;
}


#main{
  max-width: 100%;
  background: -webkit-gradient(linear, left center, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1))),
  url('https://cdn.glitch.com/89557d53-bdf9-42eb-adfc-ed86e46978c4%2Fchelsea-london-phillips-779135-unsplash.jpg?1544697182195') no-repeat;
  /*background-image: url("https://cdn.glitch.com/89557d53-bdf9-42eb-adfc-ed86e46978c4%2Fchelsea-london-phillips-779135-unsplash.jpg?1544697182195");*/
  background-size: cover;
  background-position: 0% 40%;
  display: block;
  background-repeat: no-repeat;
  color: white;
}

#blog {
  max-width: 100%;
  min-height: 800px;
  background-image: url("https://cdn.glitch.com/89557d53-bdf9-42eb-adfc-ed86e46978c4%2Frobert-bye-319816-unsplash%20(1).jpg?1545734215201");
  background-size: cover;
  background-position: 0% 15%;
  display: block;
  background-repeat: no-repeat;
  color: white;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
}

#navmain {
    position: fixed;
    z-index: 5;
}

.bg-white {
  background-color: white;
  display: cover;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("https://cdn.glitch.com/89557d53-bdf9-42eb-adfc-ed86e46978c4%2Fbaseline_menu_white_18dp.png?1544872354817");
}

.paypal-invert {
  filter: invert(100%);
  z-index: 20;
}


.navbar-expand-sm .nav-item a {
  padding-top: 48px;
}



  .headline h7 {
    font-size: 80px;
  }


/*
.navbar-collapse a {
  text-align: right;
  padding-top: 0px;
}*/




.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:active {
  border: none;
  padding: 0;
  margin: 0;
  outline: none !important;
  margin-top: 40px;
}

.nav-item .dropdown-item {
  color: #FF6F61 !important;
  padding-top: 0px !important;
}

/* .container {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
} */

.nav-item .dropdown-item img {
  color: #FF6F61 !important;
  padding-right: 10px;
}

.dropdown-menu a {
  width: 50%;
  padding-right: 10px;
  justify-content: flex-end;
}

h7 {
  font-size: 100px;
  letter-spacing: 0.5rem;
}

h1 {
  letter-spacing: 0.5rem;
  font-weight: bold;
}

h4 {
  letter-spacing: 0.25rem;
}

#mainheadline {
  padding-top: 300px;
/*  padding-bottom: 200px; */
  text-align: center;
  text-shadow: 2px 2px black;
}

.ghost {
  visibility: hidden;
}

/* @media (min-width: 575.99px) { #nayacatext{display: none;} }
@media (max-width: 575.98px) {
#mainheadline {
  font-size: 5em;
  padding-top: 100px;
  line-height: 1;
} */
#nayacatext{display: inline-block; text-transform: uppercase;}
#nayacalogo{display: none;}
}

#blogheadline {
  padding-top: 400px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.efs {
  margin-top: -top: 50px;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.1rem;
  word-spacing: 0.25rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
}



.efs img {
  filter: invert(100%);
  text-shadow: 2px 2px black;
}
/*
.col-sm {
     text-align: center;
} */

.gotoresume {
  text-align: center;
  letter-spacing: 0.1rem;
  word-spacing: 0.25rem;
  font-weight: bold;
  color: white;
  margin: 100px auto 200px auto;
}

#urch {
  letter-spacing: 0.1rem;
  word-spacing: 0.25rem;
  font-weight: bold;
}

/* #resume-icon {
  padding-bottom: 50px;
} */

.resumesheadline {
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.1rem;
  word-spacing: 0.25rem;
  line-height: 1.5;
  font-weight: bold;
  color: black;
}

.resumebox {
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
  color: black;
}

.resumebox span {
  display: inline-block;
}

.resumebox h5 {
  font-weight: bold;
}

.resumebox p {
  line-height: 1.5;
}

.blogbox {
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
  color: black;
}

.latestblogbox {
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 20px;
  color: black;
  background-color: white;
}

.blogbox h6, .latestblogbox h6 {
  color: #FF6F61;
  text-align: right;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

.btn-lg span img {
  padding-right: 10px;
}

#resumes {
  padding-top: 50px;
  margin-top: -50px;
  color: white;
  text-align: center;
}

/* #resume-image {
  margin-top: 50px;
  margin-bottom: 50px;
} */

.resumes h4 {
  padding: 20px 0px;
  text-align: center;
  color: black;
  font-weight: bold;
  letter-spacing: 0.25rem;
}

.resumes h5 {
  padding-bottom: 20px;;
  text-align: center;
  color: black;
  letter-spacing: 0.25rem;
}

.resumes h3 {
  margin: 20px 0px 10px 0px;;
  text-align: center;
  color: black;
}


.col .footer {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.footer {
  background-color: black;
  margin-top: 0;
  text-align: center;
}

.footerbox {
  margin: auto auto 10px auto;
}

.footer p {
  line-height: normal;
  font-weight: normal;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer img {
  text-align: center;
}

/* #genresume { background-color: #5fff2b !important; } */

#resumenav {
  color: black;
}

@media print {
	body {
    visibility: hidden;
    }
    #resumepage {
    visibility: visible;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    }
}
