<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/assets/media/shortcutIcon.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/resume.css">
    <title>Nayaca</title>
    <!-- start: Bootstrap-Vue https://bootstrap-vue.js.org/docs -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- end: Bootstrap-Vue -->
    <script src="./app.js" defer></script>


  </head>
  <body>
<div id="app">
    <div class="container-fluid">
      <div class="row" id="resumeheader">

        <div class="col-3" id="BrandCol">
          <a class="navbar-brand" href="index.html">
            <img src="assets/media/nayaca-pantone-logo.png" alt="Nayaca" id="brandimage">
          </a>
        </div>


                <div class="col-6" id="ProgressCol">
                  <div class="progress" id="progress">
                    <div class="progress-bar bg-pantone progress-bar-striped progress-bar-animated" id="progressive" role="progressbar"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">&nbsp;&nbsp;&nbsp;0%
                    </div>
                  </div>
                </div>

        <div class="col-3" id="SignUpCol">
          <button type="button" class="btn btn-sm" id="signupbutton"
          href="#"><nobr>Sign Up</nobr></button>
        </div>
      </div>
    </div>

    <div class="container" id="resumebuilder">
      <div class="row">
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <b-button href="#" v-b-toggle.accordion1 class="btn btn-sm btn-block" variant="outline-dark" id="btnabout">ABOUT</b-button>
              <b-collapse id="accordion1" accordion="my-accordion" role="tabpanel">
              <div id="about_box">
                <br>
                <input type="text" value="name" class="form-control" placeholder="My name" v-model="name">
                <br>
                <input type="text" value="current_position" class="form-control" placeholder="My current position" v-model="current_position">
                <br>
                <input type="text" value="current_company" class="form-control" placeholder="My current company" v-model="current_company">
                <br>
                <input type="text" value="current_location" class="form-control" placeholder="My current location" v-model="current_location">
                <br>
                <input type="text" value="degree" class="form-control" placeholder="My degree" v-model="degree">
                <br>
              </div>
            </div>

            <div class="form-group">
              <b-button href="#" v-b-toggle.accordion2 class="btn btn-sm btn-block" variant="outline-dark" id="btnskills">SKILLS</b-button>
              <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
              <div id="skills_box">
                <br>
                <input type="text" value="languages" class="form-control" placeholder="My languages" v-model="languages">
                <br>
                <input type="text" value="coding" class="form-control" placeholder="My coding" v-model="coding">
                <br>
                <input type="text" value="accomplishment" class="form-control" placeholder="My greatest accomplishment" v-model="accomplishment">
                <br>
                <textarea type="text" value="about_me" class="form-control" rows="3" placeholder="About me" v-model="about_me"></textarea>
                <br>
                <input type="text" value="salary" class="form-control" placeholder="My salary expectations" v-model="salary">
                <br>
              </div>
            </div>

            <div class="form-group">
              <b-button href="#" v-b-toggle.accordion3 class="btn btn-sm btn-block" variant="outline-dark" id="btncontact" >CONTACT</b-button>
              <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
              <div id="contact_box">
                <br>
                <input type="text" value="email" class="form-control" placeholder="My email" v-model="email">
                <br>
                <input type="text" value="phone" class="form-control" placeholder="My phone number" v-model="phone">
                <br>
                <input type="text" value="website" class="form-control" placeholder="My website" v-model="website">
                <br>
                <input type="text" value="linkedIn" class="form-control" placeholder="My linkedIn account" v-model="linkedIn">
                <br>
                <input type="text" value="address" class="form-control" placeholder="My address" v-model="address">
                <br>
                <input type="text" value="video" class="form-control" placeholder="My application video" v-model="video">
              </div>
            </b-collapse>
            </div>


            <div class="form-group">
              <b-button href="#" v-b-toggle.accordion4 class="btn btn-sm btn-block" variant="outline-dark" id="btnapplication">APPLICATION</b-button>
              <b-collapse id="accordion4" accordion="my-accordion" role="tabpanel">
              <div id="application_box">
                <br>
                <input type="text" value="desired_position" class="form-control" placeholder="Desired position" v-model="desired_position">
              </div>
            </b-collapse>
            </div>


            <div class="form-group">

              <b-button href="#" v-b-toggle.accordion5 class="btn btn-sm btn-block" variant="outline-dark" id="btnexperience">EXPERIENCE</b-button>
              <b-collapse id="accordion5" accordion="my-accordion" role="tabpanel">
              <div id="experience_box1">
                <br>
                <input type="text" value="position" class="form-control" placeholder="Position" v-model="position1">
                <br>
                <input type="text" value="company" class="form-control" placeholder="Company" v-model="company1">
                <br>
                <input type="text" value="location" class="form-control" placeholder="Location" v-model="location1">
                <br>
                <input type="text" value="start" class="form-control" placeholder="Start MM.YYYY" v-model="startdate1">
                <br>
                <input type="text" value="end" class="form-control" placeholder="End MM.YYYY" v-model="enddate1">
                <br>
                <input type="text" value="noend" class="form-control" placeholder="I currently work here" v-model="noend1">
                <br>
                <textarea type="text" value="tasks" class="form-control" rows="3" placeholder="My tasks" v-model="tasks1"></textarea>
              </div>

              <div id="experience_box2">
                <br>
                <input type="text" value="position" class="form-control" placeholder="Position" v-model="position2">
                <br>
                <input type="text" value="company" class="form-control" placeholder="Company" v-model="company2">
                <br>
                <input type="text" value="location" class="form-control" placeholder="Location" v-model="location2">
                <br>
                <input type="text" value="start" class="form-control" placeholder="Start MM.YYYY" v-model="startdate2">
                <br>
                <input type="text" value="end" class="form-control" placeholder="End MM.YYYY" v-model="enddate2">
                <br>
                <input type="text" value="noend" class="form-control" placeholder="I currently work here" v-model="noend2">
                <br>
                <textarea type="text" value="tasks" class="form-control" rows="3" placeholder="My tasks" v-model="tasks2"></textarea>
              </div>

              <div id="experience_box3">
                <br>
                <input type="text" value="position" class="form-control" placeholder="Position" v-model="position3">
                <br>
                <input type="text" value="company" class="form-control" placeholder="Company" v-model="company3">
                <br>
                <input type="text" value="location" class="form-control" placeholder="Location" v-model="location3">
                <br>
                <input type="text" value="start" class="form-control" placeholder="Start MM.YYYY" v-model="startdate3">
                <br>
                <input type="text" value="end" class="form-control" placeholder="End MM.YYYY" v-model="enddate3">
                <br>
                <input type="text" value="noend" class="form-control" placeholder="I currently work here" v-model="noend3">
                <br>
                <textarea type="text" value="tasks" class="form-control" rows="3" placeholder="My tasks" v-model="tasks3"></textarea>
              </div>
            </b-collapse>
            </div>

            <div class="form-group">

              <b-button href="#" v-b-toggle.accordion5 class="btn btn-sm btn-block" variant="outline-dark" id="btneducation">EDUCATION</b-button>
              <b-collapse id="accordion5" accordion="my-accordion" role="tabpanel">
              <div id="education_box1">
                <br>
                <input type="text" value="study" class="form-control" placeholder="Study" v-model="study_s1">
                <br>
                <input type="text" value="institution" class="form-control" placeholder="Institution" v-model="institution_s1">
                <br>
                <input type="text" value="location" class="form-control" placeholder="Location" v-model="location_s1">
                <br>
                <input type="text" value="start" class="form-control" placeholder="Start MM.YYYY" v-model="startdate_s1">
                <br>
                <input type="text" value="end" class="form-control" placeholder="End MM.YYYY" v-model="enddate_s1">
                <br>
                <input type="text" value="noend" class="form-control" placeholder="I currently study here" v-model="noend_s1">
                <br>
                <textarea type="text" value="achievements" class="form-control" rows="5" placeholder="My achievements" v-model="achievements_s1"></textarea>
              </div>

              <div id="education_box2">
                <br>
                <input type="text" value="study" class="form-control" placeholder="Study" v-model="study_s2">
                <br>
                <input type="text" value="institution" class="form-control" placeholder="Institution" v-model="institution_s2">
                <br>
                <input type="text" value="location" class="form-control" placeholder="Location" v-model="location_s2">
                <br>
                <input type="text" value="start" class="form-control" placeholder="Start MM.YYYY" v-model="startdate_s2">
                <br>
                <input type="text" value="end" class="form-control" placeholder="End MM.YYYY" v-model="enddate_s2">
                <br>
                <input type="text" value="noend" class="form-control" placeholder="I currently study here" v-model="noend_s2">
                <br>
                <textarea type="text" value="achievements" class="form-control" rows="5" placeholder="My achievements" v-model="achievements_s2"></textarea>
              </div>

              <div id="education_box3">
                <br>
                <input type="text" value="study" class="form-control" placeholder="Study" v-model="study_s3">
                <br>
                <input type="text" value="institution" class="form-control" placeholder="Institution" v-model="institution_s3">
                <br>
                <input type="text" value="location" class="form-control" placeholder="Location" v-model="location_s3">
                <br>
                <input type="text" value="start" class="form-control" placeholder="Start MM.YYYY" v-model="startdate_s3">
                <br>
                <input type="text" value="end" class="form-control" placeholder="End MM.YYYY" v-model="enddate_s3">
                <br>
                <input type="text" value="noend" class="form-control" placeholder="I currently study here" v-model="noend_s3">
                <br>
                <textarea type="text" value="achievements" class="form-control" rows="5" placeholder="My achievements" v-model="achievements_s3"></textarea>
              </div>
            </b-collapse>
            </div>

            <br>
          </form>
        </div>

<!-- Bootstrap example classes from here

      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>

Bootstrap example classes till here -->


      <div class="col-md-8">

        <div id="resumepage">
          <h4>{{ name }}</h4>
          <!--<h6>{{ currently }}</h6>-->
          <div>
          <span class="inliner">
            <img src="./assets/media/icons/position.png" height="19px" v-if="current_position">
            <h6>&nbsp;&nbsp;&nbsp;{{ current_position }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/company.png" height="19px" v-if="current_company">
            <h6>&nbsp;&nbsp;&nbsp;{{ current_company }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/location.png" height="19px" v-if="current_location">
            <h6>&nbsp;&nbsp;&nbsp;{{ current_location }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/degree.png" height="19px" v-if="degree">
            <h6>&nbsp;&nbsp;&nbsp;{{ degree }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/languages.png" height="19px" v-if="languages">
            <h6>&nbsp;&nbsp;&nbsp;{{ languages }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/coding.png" height="19px" v-if="coding">
            <h6>&nbsp;&nbsp;&nbsp;{{ coding }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/accomplishment.png" height="19px" v-if="accomplishment">
            <h6>&nbsp;&nbsp;&nbsp;{{ accomplishment }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/about.png" height="19px" v-if="about_me">
            <h6>&nbsp;&nbsp;&nbsp;{{ about_me }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/salary.png" height="19px" v-if="salary">
            <h6>&nbsp;&nbsp;&nbsp;{{ salary }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/email.png" height="19px" v-if="email">
            <h6>&nbsp;&nbsp;&nbsp;{{ email }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/phone.png" height="19px" v-if="phone">
            <h6>&nbsp;&nbsp;&nbsp;{{ phone }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/website.png" height="19px" v-if="website">
            <h6>&nbsp;&nbsp;&nbsp;{{ website }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/linkedin.png" height="19px" v-if="linkedIn">
            <h6>&nbsp;&nbsp;&nbsp;{{ linkedIn }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/address.png" height="19px" v-if="address">
            <h6>&nbsp;&nbsp;&nbsp;{{ address }}</h6>
          </span>
          </div>

          <div>
          <span class="inliner">
            <img src="./assets/media/icons/video.png" height="19px" v-if="video">
            <h6>&nbsp;&nbsp;&nbsp;{{ video }}</h6>
          </span>
          </div>

          <span v-if="email"><hr></span>

          <div id="WHYME">
          <span class="inliner">
            <img src="./assets/media/icons/application_black.png" height="24px" v-if="desired_position">
            <h6>&nbsp;&nbsp;&nbsp;{{ desired_position }}</h6>
          </span>
          </div>

          <span v-if="desired_position"><hr></span>

            <div class="row">

              <div class="col-md-6">
                <div id="experience_headline">
                  <h6 v-if="position1">EXPERIENCE</h6>
                </div>
                <br>

                <div id="experience1">
                  <div id="position1">
                    <h6>{{ position1 }}</h6>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/company_black.png" height="19px" v-if="company1">
                      <h6>&nbsp;{{ company1 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/location_black.png" height="19px" v-if="location1">
                      <h6>&nbsp;{{ location1 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/calendar_black.png" height="19px" v-if="startdate1 || enddate1 || noend1">
                      <h6>&nbsp;{{ period1 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/tasks_black.png" height="19px" v-if="tasks1">
                      <h6>&nbsp;{{ tasks1 }}</h6>
                    </span>
                  </div>
                </div>
                <br>
                <div id="experience2">
                  <div id="position2">
                    <h6>{{ position2 }}</h6>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/company_black.png" height="19px" v-if="company2">
                      <h6>&nbsp;{{ company2 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/location_black.png" height="19px" v-if="location2">
                      <h6>&nbsp;{{ location2 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/calendar_black.png" height="19px" v-if="startdate2 || enddate2 || noend2">
                      <h6>&nbsp;{{ period2 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/tasks_black.png" height="19px" v-if="tasks2">
                      <h6>&nbsp;{{ tasks2 }}</h6>
                    </span>
                  </div>
                </div>
                <br>
                <div id="experience3">
                  <div id="position3">
                    <h6>{{ position3 }}</h6>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/company_black.png" height="19px" v-if="company3">
                      <h6>&nbsp;{{ company3 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/location_black.png" height="19px" v-if="location3">
                      <h6>&nbsp;{{ location3 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/calendar_black.png" height="19px" v-if="startdate3 || enddate3 || noend3">
                      <h6>&nbsp;{{ period3 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/tasks_black.png" height="19px" v-if="tasks3">
                      <h6>&nbsp;{{ tasks3 }}</h6>
                    </span>
                  </div>
                </div>
                <br>
              </div>




              <div class="col-md-6">
                <div id="education_headline">
                  <h6 v-if="study_s1">EDUCATION</h6>
                </div>
                <br>

                <div id="education1">
                  <div id="study_s1">
                    <h6>{{ study_s1 }}</h6>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/institution.png" height="19px" v-if="institution_s1">
                      <h6>&nbsp;{{ institution_s1 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/location_black.png" height="19px" v-if="location_s1">
                      <h6>&nbsp;{{ location_s1 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/calendar_black.png" height="19px" v-if="startdate_s1 || enddate_s1 || noend_s1">
                      <h6>&nbsp;{{ period_s1 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/achievements.png" height="19px" v-if="achievements_s1">
                      <h6>&nbsp;{{ achievements_s1 }}</h6>
                    </span>
                  </div>
                </div>
                <br>
                <div id="education2">
                  <div id="study_s2">
                    <h6>{{ study_s2 }}</h6>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/institution.png" height="19px" v-if="institution_s2">
                      <h6>&nbsp;{{ institution_s2 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/location_black.png" height="19px" v-if="location_s2">
                      <h6>&nbsp;{{ location_s2 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/calendar_black.png" height="19px" v-if="startdate_s2 || enddate_s2 || noend_s2">
                      <h6>&nbsp;{{ period_s2 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/achievements.png" height="19px" v-if="achievements_s2">
                      <h6>&nbsp;{{ achievements_s2 }}</h6>
                    </span>
                  </div>
                </div>
                <br>
                <div id="education3">
                  <div id="study_s3">
                    <h6>{{ study_s3 }}</h6>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/institution.png" height="19px" v-if="institution_s3">
                      <h6>&nbsp;{{ institution_s3 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/location_black.png" height="19px" v-if="location_s3">
                      <h6>&nbsp;{{ location_s3 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/calendar_black.png" height="19px" v-if="startdate_s3 || enddate_s3 || noend_s3">
                      <h6>&nbsp;{{ period_s3 }}</h6>
                    </span>
                  </div>

                  <div>
                    <span class="inliner">
                      <img src="./assets/media/icons/achievements.png" height="19px" v-if="achievements_s3">
                      <h6>&nbsp;{{ achievements_s3 }}</h6>
                    </span>
                  </div>
                </div>
                <br>
              </div>

            </div>
          </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col signupResume">
            <button type="button" class="btn btn-sm btn-pantone">Sign Up</button>
            <span>*</span>
           </div>
           <div class="col pdf-reset">
             <button type="button" class="btn btn-sm btn-outline-dark" @click="exportPdf">Create pdf</button>
             <button type="button" class="btn btn-sm btn-outline-danger" @click="resetResume">Reset</button>
           </div>
         </div>
        <hr>
        <div id="signupExplanation">
          <p>* Sign up to get your personal Nayaca account. As a user you can keep your data, choose from our beautiful color designs and edit your resume any time to match
            new positions in the blink of an eye. If you are already a registered user, click the 'Sign Up' button to sign in.</p>
        </div>
      </div>

      </div>
    </div>

<!-- start: jsPDF https://parall.ax/products/jspdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>

<script src="/script.js"></script>
</div>
  </body>
</html>

<!--

<input type="text" value="name" placeholder="MY NAME" v-model="name" />
<input type="text" value="current_position" placeholder="MY CURRENT POSITION" v-model="current_position" />
<input type="text" value="current_company" placeholder="MY CURRENT COMPANY" v-model="current_company" />
<input type="text" value="current_location" placeholder="MY CURRENT LOCATION" v-model="current_location" />
<input type="text" value="about_me" placeholder="ABOUT ME" v-model="about_me" />

    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-sm navbar-light bg-transparent" id="resumenav">
          <a class="navbar-brand" href="index.html"><img src="assets/media/nayaca-pantone-logo.png" alt="Nayaca"></a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sections</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"><img src="assets/media/usa-logo.png" height="16" width="35" alt="Usa flag">English</a>
                  <a class="dropdown-item" href="#"><img src="assets/media/germany-logo.png" height="16" width="35" alt="Germany flag">Deutsch</a>
                  <a class="dropdown-item" href="#"><img src="assets/media/mexico-logo.png" height="16" width="35" alt="Mexico flag">Español</a>
                </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="app">
      <label for="firstname">First name</label>
      <input type="text" value="firstname" placeholder="First name" v-model="firstname" />
      <label for="lastname">Last name</label>
      <input type="text" value="lastname" placeholder="Last name" v-model="lastname" />
      <h2>{{ firstname }} {{ lastname }}</h2>
    </div>

     <div class="container">

        <div class="resume-name"><span><h2>{{person.name}}</h2></span>
        </div>
        <div class="resume-title">
          <h4>{{ person.title }}</h4>
        </div>
        <div class="resume-company">
          <h4>{{ person.company }}</h4>
        </div>
      </div>



    <div class="container">
      <div class="row">
        <iframe src="" width="" height=""></iframe>">
        <form action="/action_page.json" method="post" target="_blank">
          <input type="text" name="fname" placeholder="First name">
          <input type="text" name="lname" placeholder="Last name"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
 -->
